@import "./Variable.scss";

.dashboard {
  width: 100%;
  height: 100vh;
  overflow: auto;

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5vh;
    padding: 4vh;
    background-color: $black;

    div:nth-child(1) {
      justify-content: flex-start;
      display: flex;
      flex-direction: row;
      align-items: center;

      div {
        font-size: $fontL;
        color: $orangeWhite;
        margin-right: 30px;
        cursor: pointer;
        transition: all 0.3s ease-out;

        &:hover {
          color: $orange;
          transition: all 0.3s ease-in;
        }
        &:active {
          color: $orangeLight;
          transition: all 0.3s ease-in;
        }
      }
      .titleLink {
        text-decoration: none;
        display: flex;
        flex-direction: row;

        h1 {
          cursor: pointer;
          color: $white;
          margin: 0 10px;
          font-weight: 800;
          transition: $slowOut;

          &:hover {
            color: $orange;
            transition: $slowIn;
          }
        }

        h2 {
          cursor: pointer;
          font-size: $fontL;
          color: $orangeWhite;
          font-weight: 700;

          span {
            margin: 0 7px;
            color: $orange;
          }
        }
      }
    }

    div:nth-child(2) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 200px;

      .colorWhite {
        font-size: $fontLM;
        cursor: pointer;
        width: 60px;
        height: 30px;
        background-color: $white;
        border: 1px solid $white;
        border-radius: 50px;
        transition: all 0.5s ease-in;

        .colorLight {
          width: 50%;
          height: 100%;
          padding: 8px;
          border-radius: 100%;
          background-color: $black;
          color: $white;
          transition: all 0.1s;

          &:active {
            margin-left: 65%;
            transition: all 0.1s;
            width: 0;
            height: 0;
          }
        }
      }

      .colorBlack {
        font-size: $fontLM;
        cursor: pointer;
        width: 60px;
        height: 30px;
        background-color: $black;
        border: 1px solid $white;
        border-radius: 50px;
        transition: all 0.5s ease-in;

        .colorDark {
          width: 50%;
          height: 100%;
          margin-left: 50%;
          padding: 8px;
          border-radius: 100%;
          background-color: $white;
          color: $black;
          transition: all 0.1s;

          &:active {
            margin-left: 10%;
            transition: all 0.1s;
            width: 0;
            height: 0;
          }
        }
      }
      button {
        @include buttonStandart(
          transparent,
          $orangeLight,
          $orangeLight,
          $orangeWhite,
          $orange,
          $orangeWhite,
          $orange,
          $orangeWhite,
          $orangeWhite
        );
      }
    }
  }

  .footerDashboard {
    width: 307px;
    padding: 1.2rem;
    height: 92vh;
    background-color: $orange;
    transition: all 0.5s ease-out;
    z-index: 9;
    overflow-y: auto;
    overflow-x: hidden;

    .profile {
      cursor: default;
      text-decoration: none;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 1rem;
      transition: all 0.5s ease-out;

      img {
        width: 150px;
        height: 150px;
        border-radius: 100%;
        transition: all 0.5s ease-out;
      }
      h2 {
        margin-top: 15px;
        font-size: $fontL;
        color: $orangeBlack;
        transition: all 0.5s ease-out;
      }
      p {
        width: 100%;
        text-align: center;
        font-size: $fontM;
        color: $orangeWhite;
        transition: all 0.5s ease-out;
      }
    }

    .menu {
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
      margin-right: 20px;
      width: 100%;
      transition: all 0.5s ease-out;

      .list {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $orangeBlack;
        text-decoration: none;
        margin: 5px 0;
        padding: 10px 0;

        span {
          font-size: $fontLM;
          display: flex;
          align-items: center;
          transition: all 0.3s ease-out;
        }

        p {
          font-size: 1.2rem;
          margin-left: 15px;
          font-weight: 500;
          transition: all 0.3s ease-out;
        }

        &:hover {
          color: $orangeGray;

          span {
            margin-left: 7.5px;
            transition: all 0.3s ease-in;
          }
          P {
            margin-left: 7.5px;
            transition: all 0.3s ease-in;
          }
        }
        &:active {
          color: $orangeWhite;
        }
      }

      .arrow {
        font-size: $fontS;
        transition: all 0.3s ease;
      }
    }

    .subMenu {
      cursor: pointer;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px;
      transition: all 0.7s ease-out;
      text-decoration: none;
      color: $orangeWhite;

      span {
        display: flex;
        align-items: center;
        font-size: $fontM;
        transition: all 0.3s ease;
      }
      p {
        font-size: $fontS;
        margin-left: 12px;
        font-weight: 500;
        transition: all 0.3s ease;
      }

      &:hover {
        color: $orangeLight;
        span {
          transition: all 0.3s ease;
          margin-left: 5px;
        }
        p {
          margin-left: 7px;
          transition: all 0.3s ease;
        }
      }
      &:active {
        color: $orangeGray;
      }
    }

    .subNavHide {
      width: 100%;
      height: 10%;
      background-color: #ffffff;
      transition: all 0.7s ease-out;
    }
    &::-webkit-scrollbar {
      width: 0;
      z-index: 1;
    }
  }

  .footerActiveDashboard {
    width: 90px;
    height: 92vh;
    padding: 2rem;
    background-color: $orange;
    transition: all 0.5s ease-in;
    display: flex;
    z-index: 9;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;

    .profile {
      cursor: default;
      text-decoration: none;
      width: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 1rem;

      img {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        transition: all 0.5s ease-out;
      }
      h2 {
        color: $orangeBlack;
        font-size: 0;
        transition: all 0.5s ease;
      }
      p {
        width: 0;
        font-size: 0;
      }

      &:hover {
        h2 {
          transition: all 0.5s ease;
          color: $orangeWhite;
        }
      }
    }
    .menu {
      .list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1.2rem 0;

        span {
          font-size: $fontL;
          color: $orangeBlack;
          transition: all 0.3s ease;
        }
        p {
          width: 0;
          font-size: 0;
          position: fixed;
          color: $orangeWhite;
          transition: all 0.3s ease;
        }

        &:hover {
          span {
            transition: all 0.3s ease;
            color: $orangeGray;
          }

          p {
            position: fixed;
            margin-left: 230px;
            padding: 5px;
            border-radius: 3px;
            width: 150px;
            font-size: $fontM;
            font-weight: 700;
            background-color: $orange;
            color: $orangeGray;
            transition: all 0.3s ease;
          }
        }
        &:active {
          span {
            color: $orangeWhite;
          }
          p {
            color: $orangeWhite;
          }
        }
      }
      .arrow {
        display: none;
        transition: all 0.3s ease;
      }
    }

    .subMenu {
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        margin: 5px 0;
        color: $orangeWhite;
        font-size: $fontLM;
        transition: all 0.3s ease;
      }
      p {
        width: 0;
        font-size: 0;
        position: fixed;
        color: $orangeWhite;
        transition: all 0.3s ease;
      }

      &:hover {
        transition: all 0.3s ease;

        span {
          transition: all 0.3s ease;
          color: $orangeLight;
        }

        p {
          position: fixed;
          margin-left: 225px;
          padding: 3px;
          border-radius: 3px;
          width: 120px;
          font-size: $fontS;
          font-weight: 700;
          background-color: $orange;
          color: $orangeLight;
          transition: all 0.3s ease;
        }
      }

      &:active {
        span {
          transition: all 0.3s ease;
          color: $orangeGray;
        }
        p {
          color: $orangeGray;
        }
      }
    }
    &::-webkit-scrollbar {
      width: 0;
      z-index: 1;
    }
  }

  .sectionDashboard {
    width: 100%;
    height: 92vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;

    .routeDashboard {
      padding: 2.5%;
      width: 100%;
      background-color: $orangeBlack;
      overflow: auto;
      overflow-x: hidden;
    }
  }

  ::-webkit-scrollbar {
    width: 17px;
    z-index: 1;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $orange;
    border-radius: 10px;
    border: 6px solid transparent;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: $orangeLight;
  }
}

.homeDashboard {
  .topRow {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    flex-direction: row;

    .topLeft {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      gap: 2rem;
      width: 70%;
    }

    .gridCenter {
      background-color: transparent;
      width: 47%;
      height: 35rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 2rem;
    }
  }
}

.database {
  width: 100%;
  margin-top: 1rem;
  .databaseTitle {
    @include titleDashboard();
  }

  .databaseTableBerita {
    @include table();
    th:nth-child(1) {
      width: 5%;
    }
    th:nth-child(2) {
      width: 15%;
    }
    th:nth-child(3) {
      width: 10%;
    }
    th:nth-child(4) {
      width: 5%;
    }
    th:nth-child(5) {
      width: 30%;
    }
    th:nth-child(6) {
      width: 10%;
    }
    th:nth-child(7) {
      width: 5%;
    }
    th:nth-child(8) {
      width: 10%;
    }
    th:nth-child(9) {
      width: 10%;
    }
    td:nth-child(2) {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    td:nth-child(4) {
      img {
        width: 50px;
        height: 50px;
      }
    }
    td:nth-child(5) {
      width: 100%;
      height: 100%;
      text-align: justify;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    td:nth-child(9) {
      @include buttonTable();
    }
  }

  .databaseTableGaleri {
    @include table();

    th:nth-child(1) {
      width: 5%;
    }
    th:nth-child(2) {
      width: 10%;
    }
    th:nth-child(3) {
      width: 25%;
    }
    th:nth-child(4) {
      width: 25%;
    }
    th:nth-child(5) {
      width: 25%;
    }
    th:nth-child(6) {
      width: 15%;
    }

    td:nth-child(2) {
      img {
        width: 70px;
        height: 100px;
      }
    }
    td:nth-child(6) {
      @include buttonTable();
    }
  }

  .databaseTableGaleriKegiatan {
    @include table();

    th:nth-child(1) {
      width: 5%;
    }
    th:nth-child(2) {
      width: 10%;
    }
    th:nth-child(3) {
      width: 35%;
    }
    th:nth-child(4) {
      width: 10%;
    }

    td:nth-child(2) {
      img {
        width: 70px;
        height: 100px;
      }
    }
    td:nth-child(4) {
      @include buttonTable();
    }
  }

  .databaseTableVideo {
    @include table();

    th:nth-child(1) {
      width: 5%;
    }
    th:nth-child(2) {
      width: 50%;
    }
    th:nth-child(3) {
      width: 30%;
    }
    th:nth-child(4) {
      width: 15%;
    }
    td {
      padding: 3px;
    }
    td:nth-child(3) {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }

    td:nth-child(4) {
      @include buttonTable();
    }
  }
}

.databaseSekolah {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

.pembelajaran {
  width: 100%;
  display: flex;
  flex-direction: column;

  h1 {
    text-align: center;
    color: $orangeWhite;
    font-size: $fontXL;
  }

  .topSelect {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      h2 {
        margin-right: 15px;
        font-size: $fontL;
        color: $white;
      }
      select,
      option {
        @include selectDashboard();
      }
    }

    button {
      margin-right: 0.5rem;
      @include buttonStandart(
        transparent,
        $orange,
        $orange,
        $orangeWhite,
        $orange,
        $orangeWhite,
        $orange,
        $orangeWhite,
        $orangeWhite
      );
    }
  }

  .silabusBottom {
    width: 100%;
    table {
      @include table();
      th:nth-child(1) {
        width: 10%;
      }
      th:nth-child(2) {
        width: 10%;
      }
      th:nth-child(3) {
        width: 10%;
      }
      th:nth-child(4) {
        width: 10%;
      }
      th:nth-child(5) {
        width: 20%;
      }
      th:nth-child(6) {
        width: 30%;
      }
      th:nth-child(7) {
        width: 10%;
      }
      td {
        padding: 2.5px;
      }
      td:nth-child(6) {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }
      td:nth-child(7) {
        @include buttonTable();
      }
    }
  }

  .kkmBottom {
    width: 100%;
    table {
      @include table();
    }
    td {
      padding: 0.5rem;
    }
    td:nth-child(1) {
      width: 5%;
    }
    td:nth-child(2) {
      width: 50%;
    }
    td:nth-child(3) {
      width: 30%;
    }
    td:nth-child(4) {
      width: 15%;
    }
    td:nth-child(4) {
      @include buttonTable();
    }
  }

  .protaBottom {
    width: 100%;
    table {
      @include table();
    }
    th:nth-child(1) {
      width: 5%;
    }
    th:nth-child(2) {
      width: 10%;
    }
    th:nth-child(3) {
      width: 5%;
    }
    th:nth-child(4) {
      width: 40%;
    }
    th:nth-child(5) {
      width: 20%;
    }
    th:nth-child(6) {
      width: 10%;
    }
    th:nth-child(7) {
      width: 20%;
    }

    td:nth-child(3) {
      p {
        width: 50px;
        background-color: $orangeWhite;
        color: $orangeBlack;
      }
    }
    td:nth-child(4) {
      margin-top: 15px;
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
    td:nth-child(7) {
      @include buttonTable();
    }
  }

  .promesBottom {
    width: 100%;
    table {
      @include table();
    }
    th:nth-child(1) {
      width: 5%;
    }
    th:nth-child(2) {
      width: 5%;
    }
    th:nth-child(3) {
      width: 20%;
    }
    th:nth-child(4) {
      width: 7%;
    }
    th:nth-child(5) {
      width: 10%;
    }
    th:nth-child(6) {
      width: 10%;
    }
    th:nth-child(7) {
      width: 10%;
    }
    th:nth-child(8) {
      width: 10%;
    }
    th:nth-child(9) {
      width: 10%;
    }
    td:nth-child(3) {
      display: flex;
      align-items: center;
      flex-direction: row;
      p:nth-child(1) {
        width: 30px;
        margin-right: 5px;
        background-color: $orangeWhite;
        color: $orangeBlack;
        text-align: center;
      }
      p:nth-child(2) {
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }
    }
    td:nth-child(9) {
      @include buttonTable();
    }
  }

  .daftarSoalBottom {
    width: 100%;
    table {
      @include table();
    }
    th:nth-child(1) {
      width: 5%;
    }
    th:nth-child(2) {
      width: 5%;
    }
    th:nth-child(3) {
      width: 15%;
    }
    th:nth-child(4) {
      width: 5%;
    }
    th:nth-child(5) {
      width: 20%;
    }
    th:nth-child(6) {
      width: 20%;
    }
    th:nth-child(7) {
      width: 10%;
    }
    th:nth-child(8) {
      width: 10%;
    }

    td:nth-child(3) {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      height: 100%;
      margin-top: 35px;

      p {
        margin: 2px 5px;
      }
      p:nth-child(1) {
        width: 50px;
        background-color: $orangeWhite;
        color: $orangeBlack;
      }
    }
    td:nth-child(6) {
      div {
        display: flex;
        align-items: center;
        flex-direction: row;
        p {
          margin: 2px 5px;
        }
        p:nth-child(1) {
          width: 50px;
          background-color: $orangeWhite;
          color: $orangeBlack;
        }
      }
    }
    td:nth-child(7) {
      display: flex;
      align-items: center;
      flex-direction: row;
      p {
        width: 100%;
        margin: 5px;
        background-color: $orangeWhite;
        color: $orangeBlack;
      }
    }
    td:nth-child(8) {
      @include buttonTable();
    }
  }

  .bankSoalBottom {
    width: 100%;
    table {
      @include table();
    }
    th:nth-child(1) {
      width: 10%;
    }
    th:nth-child(2) {
      width: 40%;
    }
    th:nth-child(3) {
      width: 10%;
    }
    th:nth-child(4) {
      width: 25%;
    }
    th:nth-child(5) {
      width: 15%;
    }

    td {
      padding: 5px;
    }
    td:nth-child(5) {
      @include buttonTable();
    }
  }

  .dataSiswaBottom {
    width: 100%;
    table {
      @include table();
    }
    th:nth-child(1) {
      width: 5%;
    }
    th:nth-child(2) {
      width: 5%;
    }
    th:nth-child(3) {
      width: 35%;
    }
    th:nth-child(4) {
      width: 20%;
    }
    th:nth-child(5) {
      width: 20%;
    }
    th:nth-child(6) {
      width: 15%;
    }
    td:nth-child(2) {
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }

    td:nth-child(6) {
      @include buttonTable();
    }
  }

  .ulanganHarianBottom {
    width: 100%;
    table {
      @include table();
    }
    th:nth-child(1) {
      width: 5%;
    }
    th:nth-child(2) {
      width: 20%;
    }
    th:nth-child(3) {
      width: 5%;
    }
    th:nth-child(4) {
      width: 5%;
    }
    th:nth-child(5) {
      width: 5%;
    }
    th:nth-child(6) {
      width: 5%;
    }
    th:nth-child(7) {
      width: 5%;
    }
    th:nth-child(8) {
      width: 5%;
    }
    th:nth-child(9) {
      width: 5%;
    }
    th:nth-child(10) {
      width: 5%;
    }
    th:nth-child(11) {
      width: 10%;
    }

    td {
      padding: 5px;
    }
    td:nth-child(11) {
      @include buttonTable();
    }
  }

  .pekanUlanganBottom {
    width: 100%;
    table {
      @include table();
    }
    th:nth-child(1) {
      width: 5%;
    }
    th:nth-child(2) {
      width: 35%;
    }
    th:nth-child(3) {
      width: 10%;
    }
    th:nth-child(4) {
      width: 10%;
    }
    th:nth-child(5) {
      width: 10%;
    }
    th:nth-child(6) {
      width: 10%;
    }
    th:nth-child(7) {
      width: 20%;
    }
    td {
      padding: 5px;
    }
    td:nth-child(7) {
      @include buttonTable();
    }
  }

  .tengahSemesterBottom {
    width: 100%;
    table {
      @include table();
    }
    th:nth-child(1) {
      width: 10%;
    }
    th:nth-child(2) {
      width: 35%;
    }
    th:nth-child(3) {
      width: 15%;
    }
    th:nth-child(4) {
      width: 15%;
    }
    th:nth-child(5) {
      width: 25%;
    }
    td {
      padding: 5px;
    }
    td:nth-child(5) {
      @include buttonTable();
    }
  }

  .ulanganAkhirBottom {
    width: 100%;
    table {
      @include table();
    }
    th:nth-child(1) {
      width: 15%;
    }
    th:nth-child(2) {
      width: 35%;
    }
    th:nth-child(3) {
      width: 25%;
    }
    th:nth-child(4) {
      width: 25%;
    }
    td {
      padding: 5px;
    }
    td:nth-child(4) {
      @include buttonTable();
    }
  }
}

.blankPage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  span {
    font-size: 15rem;
  }

  h1 {
    font-size: $fontXXL;
    color: $orange;
    margin-top: -2rem;
    margin-bottom: 2rem;
  }

  p {
    font-size: $fontLX;
    color: $orangeWhite;
  }
}
