// Color
$blueDark: #22577e;
$blue: #5584ac;
$blueLight: #95d1cc;
$blueWhite: #d4f4f6;
$orangeBlack: #1b1a17;
$orangeGray: #3a3535;
$orange: #e45826;
$orangeLight: #f0a500;
$orangeWhite: #e6d5b8;
$grey: #dddddd;
$greyLight: #eeeeee;
$white: #ffffff;
$black: #000000;
$red: #ff1700;
$redLight: #ff6363;
$green: #06ff00;
$greenLight: #baffb4;

// font Size
$fontXXL: 5rem;
$fontXXM: 4rem;
$fontXL: 3rem;
$fontLX: 2.5rem;
$fontL: 2rem;
$fontLM: 1.5rem;
$fontM: 1.3rem;
$fontMS: 1.2rem;
$fontS: 1rem;
$fontXS: 0.7rem;

//transition
$slowIn: all ease-out 0.3s;
$slowOut: all ease-out 0.3s;

@mixin layout {
  width: 100%;
  padding: 3% 5%;
  background-color: $white;
  display: flex;
  flex-direction: column;
}

@mixin buttonStandart(
  $background,
  $color,
  $border,
  $backgroundHover,
  $colorHover,
  $borderHover,
  $backgroundActive,
  $colorActive,
  $borderActive
) {
  padding: 5px 20px;
  border-radius: 5px;
  font-size: $fontM;
  cursor: pointer;
  background-color: $background;
  color: $color;
  border: 2px solid $border;
  transition: all 0.5s ease-in;
  font-weight: 500;
  text-transform: capitalize;

  &:hover {
    background-color: $backgroundHover;
    color: $colorHover;
    border: 2px solid $borderHover;
    transition: all 0.7s ease-out;
  }

  &:active {
    background-color: $backgroundActive;
    color: $colorActive;
    border: 2px solid $borderActive;
    transition: all 0.3s ease-in;
  }
}

@mixin buttonTable {
  button {
    padding: 3px;
    font-size: $fontMS;
    text-align: center;
    border: none;
    border-radius: 5px;
    transition: 0.3s all ease;
    cursor: pointer;
  }
  button:nth-child(1) {
    background-color: $blue;
    color: $black;
    margin-right: 3px;

    &:hover {
      background-color: $blueLight;
      transition: 0.3s all ease;
    }
  }

  button:nth-child(2) {
    background-color: $green;
    color: $black;
    margin: 0 7px;

    &:hover {
      background-color: $greenLight;
      transition: 0.3s all ease;
    }
  }

  button:nth-child(3) {
    background-color: $red;
    color: $black;

    &:hover {
      transition: 0.3s all ease;
      background-color: $redLight;
    }
  }
}

@mixin input {
  width: 100%;
  padding: 10px;
  font-size: $fontM;
  background-color: transparent;
  color: $blueWhite;
  border: none;
  border-bottom: 2px solid $blue;

  &::placeholder {
    color: $blueLight;
  }
}

@mixin hoverImgScale {
  &:hover > img {
    transition: 0.3s;
    transform: scale(1.1);
  }
}

@mixin widgetCard($width, $flex, $color) {
  cursor: default;
  overflow: hidden;
  width: $width;
  height: 250px;
  border-radius: 8px;
  display: flex;
  flex-direction: $flex;
  box-shadow: 0 0 15px rgba($color: #000000, $alpha: 1);
  background-color: $color;
}

@mixin table() {
  width: 100%;
  border-collapse: collapse;
  border: none;

  thead {
    th {
      padding: 5px;
      color: $orangeWhite;
      font-size: $fontM;
    }
    background-color: $orangeGray;
    border-bottom: 1px solid $orangeWhite;
  }
  tbody {
    tr {
      background-color: transparent;
      td {
        text-align: center;
        margin: 5px;
        color: $white;
        font-size: $fontS;
      }
      &:nth-of-type(even) {
        background-color: $orangeGray;
      }

      &:last-of-type {
        border-bottom: 1px solid $orangeWhite;
      }
    }
  }
}

@mixin titleDashboard() {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  width: 100%;
  margin-bottom: 0.5rem;
  h1 {
    font-size: $fontXL;
    color: $orangeWhite;
    cursor: default;

    span {
      color: $orange;
    }
  }
  button {
    width: 170px;
    display: flex;
    gap: 5px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    @include buttonStandart(
      transparent,
      $orange,
      $orange,
      $orangeWhite,
      $orange,
      $orangeWhite,
      $orange,
      $orangeWhite,
      $orange
    );
  }
}
