@import "./Variable.scss";

.userSection {
  width: 50%;
  height: 35rem;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba($color: #000000, $alpha: 1);
  .userTitle {
    @include titleDashboard();
  }

  .userTable {
    padding: 5px;
    height: 29rem;
    overflow: auto;
    cursor: default;

    .userInfo {
      width: 100%;
      height: 60px;
      padding: 5px 20px;
      border-radius: 3px;
      text-align: right;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 20px;
      transition: $slowIn;
      font-size: $fontS;
      background-color: $orange;
      h3 {
        color: $black;
      }
      p {
        color: $white;
      }
    }

    .userInfoOut {
      width: 100%;
      font-size: 0;
      height: 0;
      transition: $slowOut;
    }

    .tableProfile {
      @include table();
      th:nth-child(1) {
        width: 10%;
      }
      th:nth-child(2) {
        width: 50%;
      }

      th:nth-child(3) {
        width: 20%;
        button {
          color: $orange;
          background-color: transparent;
          cursor: pointer;
          font-size: $fontXS;
          margin-left: 10px;
          font-family: "Urbanist", sans-serif;
          border: 1px solid $orange;
          padding: 3px 5px;
          border-radius: 100px;
        }
      }
      th:nth-child(3) {
        width: 20%;
      }
      td {
        padding: 8px;
      }
      td:nth-child(2) {
        section {
          display: flex;
          flex-direction: row;
          align-items: center;

          div:nth-child(1) {
            margin-left: 10px;
            width: 50px;
            height: 50px;
            border-radius: 100%;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
            }
          }
          div:nth-child(2) {
            text-align: left;
            margin-left: 10px;
            width: 100%;
            h2 {
              font-weight: 500;
            }
          }
        }
      }
      td:nth-child(3) {
        text-transform: capitalize;
      }

      td:nth-child(4) {
        @include buttonTable();
      }
    }
  }
}

.widgetProfile {
  @include widgetCard(27.5%, 550px, column, transparent);

  .topProfile {
    padding: 1rem 2rem;
    background-color: $orange;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    div {
      text-align: right;
      h1 {
        font-size: $fontL;
        color: $orangeBlack;
      }
      p {
        font-size: $fontMS;
        color: $white;
      }
      button {
        padding: 0;
        height: 0;
        width: 100%;
        border-radius: 5px;
        margin: 1rem 0 -1rem 0;
        font-size: 0;
        cursor: pointer;
        background-color: $black;
        color: $orange;
        border: none;
        transition: all 0.5s ease-in;
        font-weight: 500;
        text-transform: capitalize;

        &:hover {
          background-color: $orangeWhite;
          color: $black;
          transition: all 0.5s ease-out;
        }
      }
    }
    img {
      width: 130px;
      height: 130px;
      margin-left: 20px;
      border-radius: 100%;
    }
    &:hover {
      button {
        width: 100%;
        padding: 5px;
        margin: 1rem 0 -1rem 0;
        height: 100%;
        font-size: $fontS;
      }
    }
  }

  .centerProfile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;

    background-color: $orangeGray;
    font-size: $fontL;
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      padding: 10px 0;
      text-align: center;
      transition: $slowIn;
      color: $white;
      p {
        font-size: 0;
        margin: 0 5px;
        width: 0;
        transition: $slowIn;
      }
    }
    div:nth-child(1) {
      &:hover {
        background-color: #c13584;
        transition: $slowOut;
        padding: 0 10px;
        p {
          width: 350px;
          font-size: $fontM;
          transition: $slowIn;
        }
      }
    }
    div:nth-child(2) {
      &:hover {
        background-color: #3b5998;
        transition: $slowOut;
        padding: 0 10px;
        p {
          width: 350px;
          font-size: $fontM;
          transition: $slowIn;
        }
      }
    }
    div:nth-child(3) {
      &:hover {
        background-color: #db4437;
        transition: $slowOut;
        padding: 0 10px;
        p {
          width: 350px;
          font-size: $fontM;
          transition: $slowIn;
        }
      }
    }
    div:nth-child(4) {
      &:hover {
        background-color: #25d366;
        transition: $slowOut;
        padding: 0 10px;
        p {
          width: 350px;
          font-size: $fontM;
          transition: $slowIn;
        }
      }
    }
    div:nth-child(5) {
      &:hover {
        background-color: #0088cc;
        transition: $slowOut;
        padding: 0 10px;
        p {
          width: 350px;
          font-size: $fontM;
          transition: $slowIn;
        }
      }
    }
  }

  .bottomProfile {
    overflow: auto;
    padding: 20px;
    div {
      margin: 10px 0;

      h4 {
        color: $orange;
        font-size: $fontMS;
        font-weight: 500;
        margin-bottom: 3px;
      }
      p {
        color: $white;
        font-size: $fontS;
        font-weight: 300;
      }
    }
  }
}

.announcement {
  @include widgetCard(70%, 250px, column, transparent);
  padding: 20px;

  .announRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    .announTitle {
      h1 {
        font-size: $fontLX;
        color: $orange;
      }
      h3 {
        font-size: $fontLM;
        color: $orangeWhite;
        text-transform: capitalize;
      }
    }

    .announIcon {
      display: flex;
      align-items: center;
      flex-direction: column;
      color: $orange;
      font-size: $fontXXM;
      margin-right: 30px;
      button {
        font-size: $fontS;
        @include buttonStandart(
          transparent,
          $orange,
          $orange,
          $orangeWhite,
          $orange,
          $orangeWhite,
          $orange,
          $orangeWhite,
          $orange
        );
      }
    }
  }

  .announDesc P {
    padding: 5px 10px;
    margin-top: 5px;
    height: 130px;
    overflow: auto;
    font-size: $fontM;
    text-align: justify;
    color: $white;

    &::-webkit-scrollbar {
      width: 0;
      z-index: 1;
    }
  }
}

.calendar {
  @include widgetCard(26.5%, 250px, column, transparent);

  .clock {
    width: 100%;
    text-align: center;
    background-color: $orange;
    padding: 5px;
    font-weight: 500;
    font-size: $fontLM;
    color: $orangeWhite;
  }

  .date {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
    height: 100%;

    .day {
      color: $white;
      font-size: $fontL;
      font-weight: 500;
    }
    .date {
      font-weight: 600;
      font-size: $fontXXM;
      color: $orange;
      width: 100px;
      height: 100px;
      margin: 12px 0;
      border-radius: 100%;
      background-color: $white;
    }

    div {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      color: $white;
      font-weight: 600;
      font-size: $fontS;
    }
  }
}

.todoList {
  @include widgetCard(100%, 270px, column, transparent);

  form {
    @include smallForm();
  }

  div {
    @include smallTable();
  }
}

.todoListUser {
  @include widgetCard(100%, 270px, column, transparent);

  h2 {
    font-size: $fontL;
    text-align: center;
    color: $orange;
    margin: 10px 0;
  }

  div {
    @include smallTable();
    td {
      padding: 5px;
    }
  }
}

.widgetStatistics {
  @include widgetCard(100%, 100%, column, transparent);
  padding: 10px;

  div {
    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      span {
        background-color: $orange;
        width: 50px;
        height: 50px;
        padding: 10px;
        margin-left: 5px;
        border-radius: 100%;
        font-size: $fontL;
      }
      h1 {
        font-size: $fontLM;
        color: $white;
        margin-left: 5px;
        margin-top: 10px;
        font-weight: 500;
      }
    }
    p {
      font-size: $fontS;
      color: $orangeWhite;
      text-align: right;
    }
  }
}

.tahunAjaran {
  @include widgetCard(27%, 250px, column, transparent);

  form {
    @include smallForm();
  }

  div {
    @include smallTable();
  }
}

.kelas {
  @include widgetCard(38%, 250px, column, transparent);

  form {
    @include smallForm();
  }

  div {
    @include smallTable();
  }

  span {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $fontXXL;
  }
}

.mataPelajaran {
  @include widgetCard(30%, 250px, column, transparent);

  form {
    @include smallForm();
  }

  div {
    @include smallTable();
  }
}

.dataAnggaran {
  @include widgetCard(60%, 250px, column, transparent);

  form {
    @include smallForm();
  }

  div {
    @include smallTable();
  }
}

.dataInfo {
  @include widgetCard(37%, 250px, column, transparent);

  form {
    @include smallForm();
  }

  div {
    @include smallTable();
  }
}

.cardLink {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  .link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 130px;
    padding: 15px 0;
    margin: 1rem 0;
    border-radius: 7px;
    text-decoration: none;
    background-color: $orangeGray;
    border: 1px solid $orangeGray;
    box-shadow: 0 0 15px rgba($color: #000000, $alpha: 1);
    transition: $slowOut;
    p {
      color: $orange;
      font-size: $fontL;
      margin-bottom: 5px;
    }
    h2 {
      text-align: center;
      color: $orangeWhite;
      font-size: $fontLM;
      font-weight: 500;
      span {
        color: $orange;
        margin-left: 3px;
      }
    }
    &:hover {
      border: 1px solid $orange;
      transition: $slowIn;
    }
    &:valid {
      background-color: aqua;
    }
  }
}

.cardInformasi {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;

  button {
    @include buttonStandart(
      transparent,
      $orange,
      $orangeWhite,
      $black,
      $orange,
      $orange,
      $orange,
      $orangeWhite,
      $orangeWhite
    );
  }

  .information {
    display: flex;
    width: 50%;
    flex-direction: column;

    h2 {
      font-size: $fontL;
      color: $orange;
    }

    .informationRow {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: $fontL;
      color: $orange;
      border: 2px solid $orangeWhite;
      padding: 10px;

      div {
        margin: 5px 20px;
        font-size: $fontM;
        color: $white;
        display: flex;
        flex-direction: column;
        span {
          font-family: "Alegreya Sans SC", sans-serif;
          font-weight: 500;
        }
        p {
          font-size: $fontS;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
        }
      }
    }
  }
}

.modalLogout {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($color: #000000, $alpha: 0.8);

  .modalRow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25vw;
    height: 25vh;
    padding: 25px;
    border-radius: 8px;
    background-color: $white;

    div:nth-child(1) {
      h2 {
        font-size: $fontL;
      }
      p {
        font-size: $fontM;
        margin-left: 10px;
      }
    }

    div:nth-child(2) {
      width: 100%;
      border-top: 1px solid $black;
      padding-top: 12px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      button:nth-child(1) {
        margin-right: 10px;
        width: 100px;
        @include buttonStandart(
          transparent,
          $orangeLight,
          $orangeLight,
          $orangeWhite,
          $orange,
          $orangeWhite,
          $orange,
          $orangeWhite,
          $orangeWhite
        );
      }
      button:nth-child(2) {
        margin-left: 10px;
        width: 100px;
        @include buttonStandart(
          $orange,
          $orangeWhite,
          $orange,
          $orangeLight,
          $orangeBlack,
          $orangeBlack,
          $orange,
          $orangeWhite,
          $orangeWhite
        );
      }
    }
  }
}
